In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
model = LinearRegression()

In [3]:
train_data = pd.read_csv("train.csv")

In [4]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
train_y = train_data["SalePrice"]

In [6]:
train_y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [7]:
train_data.corr()["SalePrice"].sort_values()

KitchenAbvGr    -0.135907
EnclosedPorch   -0.128578
MSSubClass      -0.084284
OverallCond     -0.077856
YrSold          -0.028923
LowQualFinSF    -0.025606
Id              -0.021917
MiscVal         -0.021190
BsmtHalfBath    -0.016844
BsmtFinSF2      -0.011378
3SsnPorch        0.044584
MoSold           0.046432
PoolArea         0.092404
ScreenPorch      0.111447
BedroomAbvGr     0.168213
BsmtUnfSF        0.214479
BsmtFullBath     0.227122
LotArea          0.263843
HalfBath         0.284108
OpenPorchSF      0.315856
2ndFlrSF         0.319334
WoodDeckSF       0.324413
LotFrontage      0.351799
BsmtFinSF1       0.386420
Fireplaces       0.466929
MasVnrArea       0.477493
GarageYrBlt      0.486362
YearRemodAdd     0.507101
YearBuilt        0.522897
TotRmsAbvGrd     0.533723
FullBath         0.560664
1stFlrSF         0.605852
TotalBsmtSF      0.613581
GarageArea       0.623431
GarageCars       0.640409
GrLivArea        0.708624
OverallQual      0.790982
SalePrice        1.000000
Name: SalePrice, dtype: float64

In [8]:
cols = ["GarageArea", "GarageCars", "GrLivArea", "OverallQual"]

In [9]:
train_X = train_data[cols]

In [10]:
train_X

      GarageArea  GarageCars  GrLivArea  OverallQual
0            548           2       1710            7
1            460           2       1262            6
2            608           2       1786            7
3            642           3       1717            7
4            836           3       2198            8
...          ...         ...        ...          ...
1455         460           2       1647            6
1456         500           2       2073            6
1457         252           1       2340            7
1458         240           1       1078            5
1459         276           1       1256            5

[1460 rows x 4 columns]

In [11]:
model.fit(train_X, train_y)

LinearRegression()

In [12]:
test_data = pd.read_csv("test.csv")

In [13]:
test_X = test_data[cols]

In [14]:
ansArr = model.predict(test_X.fillna(0))

In [15]:
ansArr

array([122522.22665803, 153638.12984984, 159889.97277366, ...,
       143711.95515218,  84593.84777303, 250545.09052309])

In [17]:
ansDf = pd.DataFrame({"Id":test_data["Id"], "SalePrice": ansArr})

In [18]:
ansDf.to_csv("ans.csv", index=None)