In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# plt.matshow(data.corr())
# plt.show()
data.corr()

In [ ]:
y = data["Survived"]

In [ ]:
cols = ["Pclass", "Sex", "Age", "SibSp", "Fare"]

In [ ]:
X = data[cols]

In [ ]:
X

In [ ]:
X = X.fillna(0)

In [ ]:
X

In [ ]:
X["Sex"] =X["Sex"]  == "female"

In [ ]:
X

In [ ]:
X["Sex"] = X["Sex"].astype(int)

In [ ]:
X

In [ ]:
RandomForestClassifier?

In [ ]:
model = RandomForestClassifier(n_estimators=500, max_depth=20)

In [ ]:
model.fit(X, y)

In [ ]:
model.predict(X[:10])

In [ ]:
test_data = pd.read_csv("test.csv")

In [ ]:
test_data = test_data.fillna(0)

In [ ]:
test_data["Sex"] =test_data["Sex"]  == "female"

In [ ]:
test_data["Sex"] = test_data["Sex"].astype(int)

In [ ]:
test_data_short = test_data[cols]

In [ ]:
test_data_short

In [ ]:
test_ans = model.predict(test_data_short)

In [ ]:
test_ans

In [ ]:
idk = pd.DataFrame({"PassengerId": test_data["PassengerId"], "Survived": test_ans})

In [ ]:
idk

In [ ]:
idk.to_csv("newans3.csv", index=None)
# idk.to_csv?